# Python caches
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
venv/
ENV/
env/

# Data and Uploads (handled by Docker Volumes instead)
Database/
uploads/
*.db
*.sqlite
*.sqlite3

# Git
.git/
.gitignore

# Docker
docker-compose.yml
Dockerfile